---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CaseStudySection from "../../layouts/CaseStudySection.astro";
import CaseStudyHero from "../../components/CaseStudyHero.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import NextCaseStudy from "../../components/NextCaseStudy.astro";

const sectionNames = ["Context", "Design", "Decisions", "Strategy", "Reflection"];
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preload" href="/styles/case-studies.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/styles/case-studies.css"></noscript>

    <script defer>
        // ensure the DOM is ready before querying
        document.addEventListener('DOMContentLoaded', () => {
            const detailsElements = document.querySelectorAll('details');

            detailsElements.forEach(details => {
                details.addEventListener('toggle', () => {
                    if (!details.open) { // closed state
                        // scroll the summary (header) into view so users don't skip ahead
                        const summary = details.querySelector('summary');
                        if (summary) {
                            summary.scrollIntoView({ behavior: 'smooth', block: 'start' });
                        } else {
                            details.scrollIntoView({ behavior: 'smooth', block: 'start' });
                        }
                    }
                });
            });
        });
    </script>
</head>

<BaseLayout title="MaxMic">
    <CaseStudyHero
        heroMediaUrl="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-hero"
        caseStudyTitle="MaxMic: A concept-to-launch, cross-disciplinary activation redefining creative community on campus"
        logisticItems={[
            ["Brand Director"],
            ["Design (4)", "Marketing (1)", "Copywriting (1)"],
             ["Art Direction", "Visual Systems", "Campaign Strategy"],
             ["5 weeks", "Feb. 2025 - Mar. 2025"]
        ]}
        ribbonOffset="translateY(-40%)"
        ribbonImageUrl="https://media.dave-vo.com/file/dvfolio/about/snowflake-3"
    />
    
    <main>
        <TableOfContents sectionNames={sectionNames}/>

        <div class="main-container">
            <CaseStudySection sectionName={sectionNames[0]} num={1}> <!--Context-->

                <article class="extra-space">
                    <h2>The birth of <i>MaxMic</i></h2>

                    <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%" style="margin-bottom: var(--space-xl);">
                        <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-performance-pics.mp4" type="video/mp4"/>
                        <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-performance-pics.webm" type="video/webm"/>
                    </video>
                    <hr>
                    <p>
                        Maximalist Magazine launched MaxMic, a cross-disciplinary open mic to bring fragmented creative communities on campus together into a shared experience.
                    </p>
                    <p>
                        The work I did led to:
                    </p>

                    <div class="insight gain-point">
                        <span>✅</span>
                        <p>
                            Drove 28K+ views on social platforms over 4 weeks
                        </p>  
                    </div>

                    <div class="insight gain-point">
                        <span>✅</span>
                        <p>
                            Obtained 150+ attendees and 10+ student org partnerships
                        </p>  
                    </div>
                    <div class="insight gain-point">
                        <span>✅</span>
                        <p>
                            Widened interest in participation across future MaxMag activities
                        </p>  
                    </div>
                    
                </article>

                <article class="extra-space">
                    <p class="subtitle"> Problem </p>
                    <h3>
                        Maximalist Magazine struggled to grow beyond a niche audience.
                    </h3>
                    <p>
                        Our existing programs (like workshops and print releases) were easy to run, but started to feel saturated as creative interests on campus evolved. They weren’t attracting new creatives or building the momentum needed to meaningfully grow and retain our community.
                    </p>
                </article>

                <article>
                    <p class="subtitle">Why does this matter culturally?</p>
                    <h3>
                        Newer creative orgs found major success with more social and experience-driven spaces.
                    </h3>
                    <picture>
                        <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/competitor-analysis-peer-orgs.webp">
                        <img loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/competitor-analysis-peer-orgs.png">
                    </picture>
                    <hr>
                    <p>
                        A new wave of student orgs rapidly gained general student body interest through social & experiential events. Students weren’t just looking to consume content, but they wanted to participate, connect, and be part of something. 
                    </p>
                </article>

                <article class="extra-space">
                    <div class="insight pain-point">
                        <span>❌</span>
                        <div>
                            <p><b>However, discovery was still fragmented</b></p>
                            <p>
                                People were engaging deeply in their niche, but there were few opportunities to experience different forms of creativity outside of their circle.
                            </p>
                        </div>
                    </div>
                </article>

                <article>
                    <p class="subtitle">The Gap</p>
                    <blockquote>
                        <h4>
                            Creative communities didn’t lack interest; they lacked overlap. What if one event could turn separate creative experiences into a collective moment?
                        </h4>
                    </blockquote>
                </article>
                
            </CaseStudySection>

            <CaseStudySection sectionName={sectionNames[1]} num={2}> <!-- Design -->
                <article> <!-- MaxMic brand -->
                    <h2>Defining the MaxMic brand</h2>
                    
                    <p class="subtitle">Creative Direction</p>
                    <h3>Capturing energy, creativity, and spectacle!</h3>

                    <div class="generic-container"> <!-- MaxMic Phamplet -->
                        <div class="generic-container-margin-wrapper">
                            <picture style="margin-bottom: 0;">
                                <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-phamplet.webp">
                                <img style="margin-bottom: 0;" loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-phamplet.png">
                            </picture>
                        </div>
                    </div>

                    <hr>
                    <p>
                        The design team and I established a bold, high-contrast palette (purple + orange) to stand apart visually from peer organizations while extending the base Maximalist brand.
                    </p>
                </article>

                <article class="extra-space"> <!-- Selected performer teasers -->
                    <div class="generic-container">
                        <div class="generic-container-margin-wrapper">
                            <div class="columns">
                                <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                    <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-musings-teaser.mp4" type="video/mp4"/>
                                </video>
                                <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                    <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-comforttone-teaser.mp4" type="video/mp4"/>
                                </video>
                                <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                    <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-tokens-teaser.mp4" type="video/mp4"/>
                                </video>
                                <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                    <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-auburnite-teaser.mp4" type="video/mp4"/>
                                </video>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p>
                        Designed for fast comprehension + high shareability, prioritizing clear hierarchy, eye-catching composition, and easy access to CTA in high-scroll platforms like Instagram.
                    </p>
                </article>

                <article> <!-- Execution -->
                    <p class="subtitle">Execution</p>
                    <h3>Drumming up hype for MaxMic!</h3>
                </article>

                <article class="generic-container"> <!-- Cryptic teaser + performer teasers -->
                    <div class="generic-container-margin-wrapper">
                        <div class="columns" style="margin-bottom: 0;">
                            <figure>
                                <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                    <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-cryptic-reveal.mp4" type="video/mp4"/>
                                    <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-cryptic-reveal.webm" type="video/webm"/>
                                </video>
                                <figcaption>
                                    Cryptic teaser set released prior to announcement post to spark early intrigue.
                                </figcaption>
                            </figure>

                            <figure>
                                <div style="position: relative;">
                                    <span class="figure-metric">Most conversion</span>
                                    <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                        <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-teaser-compilation.mp4" type="video/mp4"/>
                                        <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-teaser-compilation.webm" type="video/webm"/>
                                    </video>
                                </div>
                                <figcaption>
                                    Teasers tagging each performer/org leading up to MaxMic.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </article>

                <article class="generic-container"> <!-- All feed posts (announcement, org reveals, presentation workshop, bts) -->
                    <div class="generic-container-margin-wrapper">
                        <div class="columns">
                                <figure>
                                    <div style="position: relative;">
                                        <span class="figure-metric">Highest shared</span>
                                        <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                            <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-announcement.mp4" type="video/mp4"/>
                                            <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-announcement.webm" type="video/webm"/>
                                        </video>
                                    </div>
                                    <figcaption>
                                        Announcement post, how it works, and how to participate.
                                    </figcaption>
                                </figure>

                                <figure>
                                    <div style="position: relative;">
                                        <span class="figure-metric">Top performing</span>
                                        <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                            <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-org-reveal.mp4" type="video/mp4"/>
                                            <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-org-reveal.webm" type="video/webm"/>
                                        </video>
                                    </div>
                                    <figcaption>
                                        Reveals partnering orgs, garnering substantial cross-traffic from reshares.
                                    </figcaption>
                                </figure>
                        </div>

                        <div class="columns">
                            <figure>
                                <video autoplay muted loop playsinline webkit-playsinline preload="none" width="100%">
                                    <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-bts-feed.mp4" type="video/mp4"/>
                                    <source data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-bts-feed.webm" type="video/webm"/>
                                </video>
                                <figcaption>
                                    Rehearsal behind-the-scenes.
                                </figcaption>
                            </figure>

                            <figure>
                                <picture style="margin-bottom: 0;">
                                    <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-presenting101.webp">
                                    <img style="margin-bottom: 0;" loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/maxmic-presenting101.png">
                                </picture>
                                <figcaption>
                                    On-theme workshop to get people interested in storytelling and sharing to an audience.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </article>
            </CaseStudySection>

            <CaseStudySection sectionName={sectionNames[2]} num={3}> <!-- Design Decisions -->
                <article>
                    <h2>A visual design system, but also not a "system"</h2>
                    <p>
                        Maximalism for us meant variation, imperfection, individuality—and not repeating oneself. Of course, this is something that doesn’t lend well to a traditional design system that hinges on making every asset reusable. 
                    </p>
                </article>

                <article>
                    <p class="subtitle">Design Decisions</p>
                    <h3>So how did we protect bespoke design choices while keeping everything unified?</h3>
                    <picture>
                        <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/teaser-content-structure.webp">
                        <img loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/teaser-content-structure.png">
                    </picture>
                    <div class="insight">
                        <p>
                            We established a consistent layout structure (content order, hierarchy) for clarity.
                        </p>
                    </div>
                </article>

                <article>
                    <picture>
                        <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/anti-style-guide.webp">
                        <img loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/anti-style-guide.png">
                    </picture>
                    <div class="insight">
                        <p>
                            Limited design rules to intentionally leave room for designers to interpret freely within constraints.
                        </p>
                    </div>
                </article>

            </CaseStudySection>

            <CaseStudySection sectionName={sectionNames[3]} num={4}> <!-- Strategy -->
                <article class="extra-space">
                    <h2>Reimagining the open mic</h2>

                    <p class="subtitle">Creative Angle</p>
                    <h3>What makes MaxMic different?</h3>
                    <picture>
                        <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/unique-creative-angle.webp">
                        <img loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/unique-creative-angle.png">
                    </picture>
                    <hr>
                    <p>
                        Instead of treating creative communities as separate, MaxMic centered on people, each performer as part of a larger ecosystem of creative expression.
                    </p>
                    <p>
                        This made the event feel less like a performance lineup and more like a collectively shared cultural exchange, where people were connecting across communities they wouldn’t normally encounter.
                    </p>
                </article>

                <article> <!-- Campaign Strategy -->
                    <p class="subtitle">Campaign Strategy</p>
                    <h3>Overcoming preconceived notions to sell the concept</h3>
                    <picture>
                        <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/initial-confusion.webp">
                        <img loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/initial-confusion.png">
                    </picture>
                    <hr>
                    <p>
                        Our copywriter initially tested the concept through words alone, reaching out to individual students and org officers. But we quickly realized that differing expectations could cause confusion.
                    </p>

                    <div class="columns">
                        <div>
                            <h4>
                                5/7
                            </h4>
                            <p class="subtitle">
                                assumed anyone could just go up on stage and perform
                            </p>
                        </div>

                        <div>
                            <h4>
                                3/7
                            </h4>
                            <p class="subtitle">
                                orgs were concerned about the extent of preparation required
                            </p>
                        </div>
                    </div>
                </article>

                <article>
                    <p>
                        This brought up further concerns.
                    </p>
                    <div class="columns">
                        <div class="insight concern-point">
                            <span>⚠️</span>
                            <p>
                                What’s the expected vibe for the performances? Serious, casual, or in between?
                            </p>
                        </div>

                        <div class="insight concern-point">
                            <span>⚠️</span>
                            <p>
                                How does this event relate back to Maximalist brand in the first place?
                            </p>  
                        </div>
                    </div>
                </article>

                <article class="extra-space">
                    <h3>
                        For this reason, our announcement post would be central to MaxMic's success.
                    </h3>
                    <p>
                        Not just for engagement, but to set expectations and world-build what type of space students and orgs can expect to walk into. Here’s how the copywriter and I decided to address these points of confusion.
                    </p>
                    <picture>
                        <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/announcement-post-copy.webp">
                        <img loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/announcement-post-copy.png">
                    </picture>
                </article>

                <article> <!-- Campaign Strategy -->
                    <p>Campaign Strategy</p>
                    <h3>Keeping MaxMic consistently on people’s radar</h3>
                    <picture>
                        <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/campaign-strategy-registration.webp">
                        <img loading="lazy" alt="Criticisms about creative AI tools" data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/campaign-strategy-registration.png">
                    </picture>
                    <hr>
                    <p>
                        Marketing and I focused on driving pre-registration by keeping MaxMic consistently on people’s radar and easy to act on. We posted frequently on stories with direct registration links, using repetition to build awareness and steady sign-ups over time. Partner orgs and performers reshared content, expanding reach beyond our audience and bringing in new attendees.
                    </p>
                </article>
            </CaseStudySection>

            <CaseStudySection sectionName={sectionNames[4]} num={5}> <!-- Reflection -->
                <h2>Debut to the max!</h2>
                <article class="extra-space">
                    <p class="subtitle">Impact</p>
                    <div class="columns">
                        <div>
                            <h3>28K+</h3>
                            <p>
                                views on Instagram within 4 weeks
                            </p>
                        </div>

                        <div>
                            <h3>150+</h3>
                            <p>
                                attendees at first MaxMic
                            </p>
                        </div>

                        <div>
                            <h3>10+</h3>
                            <p>
                                partnerships with student organizations
                            </p>
                        </div>
                    </div>
                    <hr>
                    <p>
                        MaxMic as a standalone event performed well, but it also had a sizable impact on the Maximalist brand itself. The momentum was able to carry into increased contributor interest to our zine issues, higher attendance to future events, as well as more invitations to table for other orgs.
                    </p>
                </article>

                <article>
                    <div class="reflection-unit" style="margin-bottom: var(--space-lg);">
                        <span class="tag">If I had more time</span>
                        <h3>
                            Areas for improvement for future rollouts
                        </h3>
                    </div>
                    <div class="columns">
                        <div>
                            <h4>
                                Encourage UGC
                            </h4>
                            <p class="subtitle">
                                Invite people to participate and build organic community prior to the event, prompting people to post something purple/orange, or share their talents in a maximalist spirit.
                            </p>
                        </div>
                        <picture>
                            <!-- <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/designlab/gentle-troubleshooting.webp"> -->
                            <img loading="lazy" alt="User asks a question using cursor chat to help troubleshoot viability of their idea." data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/improvement-ugc.png">
                        </picture>
                    </div>
                    <hr>

                    <div class="columns">
                        <div>
                            <h4>
                                Weave craftsmanship into worldbuilding
                            </h4>
                            <p class="subtitle">
                                Spotlight performers and how they make time to hone their passion as students, positioning MaxMic as a space for everyday students who take their creativity seriously, and showing others they can do the same.
                            </p>
                        </div>
                        <picture>
                            <!-- <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/designlab/gentle-troubleshooting.webp"> -->
                            <img loading="lazy" alt="User asks a question using cursor chat to help troubleshoot viability of their idea." data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/improvement-craftsmanship.png">
                        </picture>
                    </div>
                    <hr>

                    <div class="columns">
                        <div>
                            <h4>
                                Broaden touchpoints
                            </h4>
                            <p class="subtitle">
                               Next year, I would explore a multi-platform approach, in-person activations, and interactive content like a specialized landing page to engage wider and deeper.
                            </p>
                        </div>
                        <picture>
                            <!-- <source type="image/webp" loading="lazy" data-srcset="https://media.dave-vo.com/file/dvfolio/designlab/gentle-troubleshooting.webp"> -->
                            <img loading="lazy" alt="User asks a question using cursor chat to help troubleshoot viability of their idea." data-src="https://media.dave-vo.com/file/dvfolio/maximalist-magazine/improvement-multichannel.png">
                        </picture>
                    </div>
                </article>

                <article>
                    <p class="subtitle">So what did I learn?</p>
                    <div class="reflection-unit">
                        <span class="tag">Learning</span>
                        <h3>
                            Telling a brand story
                        </h3>
                    </div>
                    <p>
                        I had a blast managing a social media campaign for the first time, where I learned how to weave brand design, social media best practices, and a mission together to get people invested around a cultural moment.
                    </p>
                </article>
            </CaseStudySection>

        </div>
    </main>
</BaseLayout>

<script src="/javascript/case-study-links.js" defer></script>

</html>
